SECRET_KEY=ergkjedlkfkwadlksmnghjklandslkgmlerwhklmkl4n23lkmt6342i0tfjio34
JWT_SECRET=yul4ytui61kjseh91rjy61ju6erts12hw1668er48i4jk1tyd641h651fg561hd1r56k1u1yrg16fgy5i1l45ksdfklhnkljsftdnh
ALGORITHM=HS256