.modal-enter {
    opacity: 0.2;
  }
.modal-enter-active {
    opacity: 1.0;
    transition: opacity 250ms;
}
.modal-exit {
    opacity: 1.0;
}
.modal-exit-active {
    opacity: 0.2;
    /* transform: scale(0.9); */
    transition: opacity 200ms;
}