.modal-enter {
    opacity: 0.2;
  }
.modal-enter-active {
    opacity: 1.0;
    transform: translateX(0);
    transition: opacity 260ms, transform 140ms;
}
.modal-exit {
    opacity: 1.0;
}
.modal-exit-active {
    opacity: 0.2;
    /* transform: scale(0.9); */
    transition: opacity 220ms;
}